.btn.cta, .btn.Small.icon-Add.To.Cart, .btn.cta.Small, .btn.cta.add-to-cart {
    height:36px;
    line-height:33px;
    font-size:13px;
    padding:0 20px;
    background-color: #f88824;
    border:none;
}

.btn.cta:hover, .ModalContent a.btn.cta:hover:hover {
    background-color: #f88824;
    color: black !important;
}

.header-logo h1 a .Logo1stWord{
    text-transform:none;
    font-weight: bold;
}

.p-price, .CartItemIndividualPrice h4, .ProductPrice, .ProductPrice h2, .ProductPrice h3  {
    color : #f88824;
    font-weight : bold !important;
}

.p-price, .ProductPrice {
    font-size : 18px;
}

.BrandName, .DetailRow h1 {
    text-transform:none;
}

.DetailRow h1 {
    color : black;
}

.PriceInDetail {
    font-weight : 500 !important;
    color : red;
}

.AvailabilityInDetail {
    color : green;
}
​