.OrangeBtn, .btn.cta, .btn.Small.icon-Add.To.Cart, .btn.cta.Small, .btn.cta.add-to-cart {
    height:36px;
    line-height:33px;
    font-size:13px;
    padding:0 20px;
    background-color: #f88824;
    border:none;
}


.OrangeBtn:hover, .btn.cta:hover, .ModalContent a.btn.cta:hover:hover {
    background-color: #f88824;
    color: black !important;
}

.header-logo h1 a .Logo1stWord{
    text-transform:none;
    font-weight: bold;
}

.ProductPrice h2, .ProductPrice h3, .CurrentPrice {
    color : #f88824;
    font-weight : bold !important;
}

.p-price, .ProductPrice {
    font-size : 18px;
}

.BrandName, .DetailRow h1 {
    text-transform:none;
}

.DetailRow h1 {
    color : black;
}

.ProductPrice, .p-price, .RedPrice, .PriceInDetail {
    font-weight : 500 !important;
    color : red;
}

.AvailabilityInDetail {
    color : green;
}

.header-free-shipping {
    width: 200px;
    color: #62c15b;
    position: absolute;
    top: 42px;
    right: 30px;
    font-weight : bold;
    font-size : 16px;
}

.main {
    background-color : white;
}

.ProductImage a{
    border : none !important;
}

.ProductList li {
    text-align: left;
}

#SearchResultsCategoryAndBrand {
    display : none;
}

.PageMenu #SideCategoryList h4, .PageMenu #SideCategoryList h5 {
    display: none;
}

.PageMenu #SideCategoryList li a{
    color : #5b524b;
}

.PageMenu li ul {
    background: #EEF2F5;
}

#categoryMenu.PageMenu ul li {
    padding-right:50px;
}

.PageMenu li ul li a:hover {
    font-weight:bold;
    font-size:larger;
}

.PageMenu li ul ul {
    left: 210px !important
}

.PageMenu li ul li a.hasSub {
    background: none;
}

#shopByCategory {
    position: absolute !important;
    color: wheat;
    top : 80px;
    left : -30px;
}

#categoryMenu{
    position: relative;
    width:100%;
    display:none;
    left:-20px;
    font-size:15px;
    padding-top:10px;
}

.arrow-down {
    display: inline-block;
    border-style: solid;
    _border-style: dashed;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #606060;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 0 2px 5px;  
}

#shopByCategory:hover #categoryMenu {
    display:block;  
}
